.contact-container{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-around;
}
.title-contact {
   color: #d1d1d1;
   font-size:20px;
   font-weight: 500;
   margin-top: 0.7rem;
   margin-bottom: 0.5rem;
}
.contact > h2 {
   margin-bottom: 1rem;
}
.subtitle-contact {
   text-decoration: none;
   color: #777777;
   transition: .2s;
}
.subtitle-contact:hover {
   color: #fff;
   transition: .2s;
}

.card-contact {
   border-radius: 8px;
   margin-top: 1rem;
   background-color:var(--color-dark2);
   width: 100%;
   padding: 1rem;
}

@media (max-width:720px) {
   .contact-container {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
   }
   .card-contact {
      padding: 1rem;
      width: 100%;   
   }
}