:root {
   --color-white: rgb(232, 232, 232);
   --color-dark1: #080713;
   --color-dark2: #100f20;
   --color-dark3: #414141;
   --color-dark4: #1c1c1c;
   --color-dark5: #343434;
   --color-purple: #40ff83;

   --principal-color: #8257DA;
   --bg1: #080713;
   --bg2: #0B0A17;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   scroll-behavior: smooth;
   font-family: 'Montserrat', sans-serif;
   
}
body {
   background-color: var(--color-dark1);
   color:var(--color-white);
}

.align-center {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;
}

.wrapper {
   margin: 2rem auto;
}