:root {
   --color-white: rgb(232, 232, 232);
   --color-dark1: #222;
   --color-dark2: #272727;
   --color-dark3: #414141;
   --color-dark4: #1c1c1c;
   --color-dark5: #343434;
   --color-purple: #b040ff;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}
body {
   background-color: var(--color-dark1);
   color:var(--color-white);
   font-family: 'Montserrat', sans-serif;
}

.align-center {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;
}

.wrapper {
   margin: 2rem auto;
}