header {
   width: 100%;
   height: 3.5rem;

   margin-bottom:0.5rem;

   background-color: var(--color-dark2);
   
   box-shadow: 1px 1px 4px var(--color-dark4);

   padding:0 10%;
}
.header-content {
   padding-top: 0.5rem;

   display: flex;
   flex-direction: row;
   align-items:center;
   justify-content:space-between;
}


/* Navbar config */
nav {
   z-index: 2;
   display:inline-flex;
   gap: 1rem;
   align-items: center;
}

nav > a {
   text-decoration: none;
   color: var(--color-purple);
   transition: all 0.1s;
   font-weight: bold;
}
nav > a:hover {
   color: var(--color-white);
}


/* Menu buttons config */
.btn_menu {
   background-color: transparent;
   border: none;

   color: var(--color-white);
   cursor:pointer;

   width: 20px;
   height: 20px;

   display: none;
}
.btn-close-header {
   display: none;
}

/* Mobile responsive */
@media screen and (max-width:720px) {
   nav {
      position: absolute;
      flex-direction: column;
      top: 0;
      background-color: var(--color-dark5);
      height: 100%;
      width: 35vw;
      padding:1rem;
      animation-duration: 1s;
      margin-left: -100vw;
      border-radius: 4px;
   }

   nav > a {
      display: flex;
      align-items: center;
      width: 100%;
      height: 2rem;
      text-align:flex-start;
      background-color:var(--color-dark3);
      padding-left:0.5rem;
      transition: all .2s;
   }

   nav > a:hover {
      transition: all .1s;
      background-color:var(--color-dark2);
   }

   /* Buttons config */
   .btn_menu {
      display: block;
   }
   .btn-close-header {
      display: block;
   }
}

/* Animations */
@keyframes showSidebar {
   from {
      margin-left: -100vw;
   }
   top {
      margin-left: -10vw;
   }
}