.main {
   width: 90%;
   height: 100%;

   margin: 1rem auto;
   padding:0.5rem;
}

/*? All cards portifolio */
.card {
   position: relative;
   width: 100%;

   margin: 2rem auto;
   padding:1rem;

   border-radius: 3px;

   background-color:var(--color-dark2);
}

/* ? Section projects */
.projects-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   position: relative;
   width: 100%;

   padding: 1rem;
   margin: 2rem auto;

   border-radius: 3px;

   background-color:var(--color-dark2);

}

/* Section description card */
.projects-container_desc {
   text-align: center;
}

/* Control display grid */
.section-projects {
   display: grid;
   grid-template-columns: 1fr 1fr;
}


/* Config of cards project */
.projects {
   margin-top: 2rem;
   width: 450px;

   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
}
.projects > p {
   font-weight: 500;
   line-height: 1.2;
   width: 300px;
}
.projects > img {
   width: 300px;
   height: auto;
   border-radius: 5px;
   margin-top: 10px;
}
.projects > a {
   margin-top: 14px;
   text-decoration: none;
   color: var(--color-purple);
   font-weight: bold;

}