
/* ? Section projects */
.projects-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   width: auto;
   padding: 1rem;

   border-radius: 3px;

   background-color:var(--color-dark2);

}

/* Section description card */
.projects-container_desc {
   text-align: center;
}

/* Control display grid */
.section-projects {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-column-gap: 8rem;
   grid-row-gap:1rem;
}

/* Config of cards project */
.projects {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   
   padding: 1rem;
   margin-top: 1.5rem;

   border-radius: 4px;
   border: 1px solid var(--principal-color);
   box-shadow: 0 0 5px var(--principal-color);
}
.projects > p {
   padding-top: 0.4rem;
   padding-bottom:1rem;
   width: 250px;
   font-size: 14px;
}
.projects > img {
   width: 250px;
   height: auto;
   border-radius: 5px;
   margin-top: 10px;
}
.projects a {
   color: var(--principal-color);
   text-decoration: none;
   font-weight: bold;
   border-radius: 8px;
   padding: 0.5rem;

   transition: 0.3s;

   background-color: var(--color-dark3);
}
.projects a:hover {
   background-color: #222;  
   box-shadow: 0 0 10px var(--principal-color);
}

@media (max-width:800px) {
   .section-projects {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0;
   }
   .projects {
      padding: 2rem;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
   }
   .projects > p {
      padding: 1rem;
   }
}